{% extends 'base.html' %}
{% load static %}



{% block title %}
Halaman Utama
{% endblock title %}

{% block menu %}
{% endblock menu %}

{% block content %}
<h1>SELAMAT DATANG DI HALAMAN UTAMA</h1>
<h2>MACAM-MACAM SEBAGIAN NEGARA DI ASIA DAN EROPA</h2>
<img id="home" src="{% static 'img/all.jpg' %}">
<p>Negara adalah organisasi kekuasaan yang berdaulat dengan tata pemerintahan yang melaksanakan tata tertib atas orang-orang di daerah tertentu, dan memiliki kekuasaan tertinggi yang sah dan ditaati oleh rakyatnya. Negara juga merupakan suatu wilayah yang memiliki suatu sistem atau aturan yang berlaku bagi semua individu di wilayah tersebut, dan berdiri secara independen. Syarat primer sebuah negara adalah memiliki rakyat, memiliki wilayah, dan memiliki pemerintahan yang berdaulat. Sedangkan syarat sekundernya adalah mendapat pengakuan dari negara lain.</p>
{% endblock content %}